body {
	font-size: 14px;
	}

	.blog-masthead {
		background-color: #b34848;
	}

	.blog-post-title, h1, h2, h3, h4, h5, h5 {
		color: #b34848;
	}

	.blog-post-title:hover {
		color: #b34848;
	}

	.list {
		list-style-type: none;
		padding: 0
	}

	.item {
		color: rgb(32, 85, 109);
		border-radius: 20px;
		min-height: 100px;
		padding: 20px;
		margin-bottom: 20px;
	}

.blog-image {
	width: 100%;
	transition: all 0.3s ease;
	border-radius: 20px;
}

.blog-image:hover {
	transform: scale(1.02);
}

.is-male {
	color: blue;
}

.is-female {
	color: pink;
}

.container {
	margin-bottom: 50px;
}